## Comandos de Entrada e Saída

In [3]:
nome = "Mousher"
idade = 35

In [5]:
print(nome,"tem", idade, "anos!")

Mousher tem 35 anos!

nome = input("Digite o seu nome: ")

In [7]:
nome = input("Digite seu nome: ")

Digite seu nome:  Mousher

In [8]:
print(nome)

Mousher

In [9]:
type(nome)

str

In [10]:
idade = input("Digite sua idade: ")

Digite sua idade:  35

In [11]:
idade

'35'

In [12]:
idade = int(idade) # converte a variável idade para o tipo de inteiro

In [13]:
type(idade)

int

In [14]:
idade

35

In [15]:
nome = int(nome) # nem todas as variáveis podem ser convertidas em alguns tipos

ValueError: invalid literal for int() with base 10: 'Mousher'

In [18]:
idade = int(input("Digite sua idade: ")) # desta forma define que a variável idade é do tipo inteira

Digite sua idade:  35

In [19]:
idade

35

In [20]:
type(idade)

int

In [21]:
idade = float(idade)

In [22]:
idade

35.0

In [23]:
idade = str(idade)

In [24]:
idade

'35.0'

In [26]:
l1 = float(input("Digite o lado maior: "))
l2 = float(input("Digite o lado menor: "))
area = l1 * l2
print(" A área do quadrilátero é ",area,"m2.")

Digite o lado maior:  5
Digite o lado menor:  3

 A área do quadrilátero é  15.0 m2.